p  {
    display: flex;
    max-width: 50%;
    justify-content: center;
    align-items: right;
}

.about{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.back {
    padding: 4rem;
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
  }

  h1 {
      color: black;
  }